@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fjord+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Timmana&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    margin: auto;
    background-color: #C4B1ED;
}

.align-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    margin-top: 5px;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    background-color: #AA8CE9;
    border-radius: 15px;
    padding-top: 2px;
}

.logo img {
    width: 60px;
    padding-left: 35px;
}

li {
    display: inline-block;
    margin: 15px;
}

a {
    color: #D4C5F4;
    font-weight: 300;
    font-size: 14px;
}

a:hover {
    color: white;
    transition: 0.3s all;
}

main {
    width: 100%;
    height: 560px;
    padding-left: 100px;
    padding-top: 20px;
}

.saudacoes {
    margin-top: 100px;
    display: flex;
    background-color: #AA8CE9;
    border-radius: 15px;
    width: 155px;
}

.saudacoes p {
    height: 40px;
    color: #7B4AE2;
    font-weight: 700;
    font-size: 18px;
    padding-left: 6px;
    padding-top: 10px;
}

.saudacoes img {
    width: 32px;
    height: 30px;
    padding-left: 13px;
    padding-top: 10px;
}

main h1 {
    padding-top: 20px;
    font-size: 52px;
    font-weight: 800;
    color: white;
}

main h2 {
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding-top: 18px;
}

.circle-main img {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 100px;
    left: 420px;
}

.react-main img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 213px;
    left: 458px;
}

.ts-main img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 288px;
    left: 756px;
}

.figma-main img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 412px;
    left: 535px;
}

.baixar-cv {
    margin-top: -120px;
    padding-left: 790px;
}

.baixar-cv h1 {
    color: #8B60E4;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: 223px;
    left: 960px;
}

.whats-baixar-cv img {
    position: absolute;
    top: 240px;
    left: 930px;
}

.arow-baixar-cv img {
    position: absolute;
    top: 245px;
    left: 1046px;
}

.baixar-cv button {
    width: 215px;
    height: 55px;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #966fe4;
    color: #8B60E4;
    font-size: 18px;
    font-weight: 500;
}

hr {
    background-color: #B9A2EC;
}

.purple-square {
    margin-top: 180px;
    margin-left: 80px;
    width: 900px;
    height: 100px;
    border-radius: 10px;
    background-color: #B9A2EC;
}

.align-p p {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #7B4AE2;
}

.align-p {
    display: flex;
    justify-content: space-around;
}

.left-p {
    padding-left: 40px;
}

.align-h1 h1 {
    color: #7B4AE2;
    font-weight: 700;
    font-size: 32px;
    padding-top: 8px;
    padding-right: 45px;
}

.align-h1 {
    display: flex;
    justify-content: space-around;
}

.trabalhos {
    width: 100%;
    height: 500px;
}

.portifolio {
    margin-top: 100px;
    display: flex;
    background-color: #bca7e6;
    border-radius: 15px;
    width: 145px;
    margin-left: 100px;
}

.portifolio p {
    height: 40px;
    color: #7B4AE2;
    font-weight: 700;
    font-size: 18px;
    padding-left: 6px;
    padding-top: 10px;
}

.portifolio img {
    width: 32px;
    height: 30px;
    padding-left: 13px;
    padding-top: 10px;
}

.align-projects {
    width: 1200px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding-top: 20px;
    font-size: 36px;
    font-weight: 800;
    color: white;
}

.design {
    display: flex;
    background-color: transparent;
    border: 1px solid #A180E7;
    border-radius: 15px;
    width: 145px;
    height: 50px;
    margin-left: 310px;
}

.design:hover {
    background-color: #B9A2EC;
    border: none;
    transition: 0.5s all;
}

.design p {
    color: #875CE4;
    font-weight: 600;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 16px;
}

.design img {
    width: 55px;
    height: 50px;
    padding-left: 23px;
}

.ui-design {
    margin-left: 30px;
    display: flex;
    background-color: transparent;
    border: 1px solid #A180E7;
    border-radius: 15px;
    width: 145px;
    height: 50px;
}

.ui-design:hover {
    background-color: #B9A2EC;
    border: none;
    transition: 0.5s all;
}

.ui-design p {
    color: #875CE4;
    font-weight: 600;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 14px;
}

.ui-design img {
    width: 42px;
    height: 45px;
    padding-left: 8px;
}

.align-move-it {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move-it {
    width: 250px;
    height: 350px;
    border: 1px solid #A180E7;
    border-radius: 13px;
    margin-right: 20px;
}

.move-it:hover {
    background-color: #AC8EEC;
    border: none;
    transition: 0.5s all;
}

.move-it h1 {
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding-top: 25px;
    padding-left: 20px;
}

.move-it p {
    color: #E3DBF6;
    font-weight: 400;
    font-size: 14px;
    padding-top: 8px;
    padding-left: 20px;
}

.align-online {
    display: flex;
}

.online {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    background-color: #B9A2EC;
    border-radius: 8px;
    width: 80px;
    height: 30px;
}

.online p {
    color: #7B4AE2;
    font-weight: 700;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 6px;
}

.react-js {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    background-color: #B9A2EC;
    border-radius: 8px;
    width: 80px;
    height: 30px;
}

.react-js p {
    color: #7B4AE2;
    font-weight: 700;
    font-size: 15px;
    padding-left: 8px;
    padding-top: 6px;
}

.typescript {
    margin-top: 30px;
    margin-left: 10px;
    background-color: #B9A2EC;
    border-radius: 8px;
    width: 110px;
    height: 30px;
}

.typescript p {
    color: #7B4AE2;
    font-weight: 700;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 6px;
}

.move-it img {
    width: 230px;
    height: 280px;
    padding-left: 20px;
    margin-top: -60px;
}

.section-skills {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills {
    margin-top: 50px;
    display: flex;
    background-color: #bca7e6;
    border-radius: 15px;
    width: 255px;
}

.skills h2 {
    height: 50px;
    color: #7B4AE2;
    font-weight: 700;
    font-size: 20px;
    padding-left: 6px;
    padding-top: 15px;
}

.skills img {
    width: 40px;
    height: 36px;
    padding-left: 15px;
    padding-top: 12px;
}

.section-skills p {
    padding-top: 50px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.icons-tecs{
    display: flex;
}

.icons-tecs img{
    padding-top: 40px;
    width: 75px;
    height: 95px;
}