@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fjord+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Timmana&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    margin: auto;
    background-color: #C4B1ED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    margin-top: 5px;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    background-color: #AA8CE9;
    border-radius: 15px;
    padding-top: 2px;
}

.logo img {
    width: 60px;
    padding-left: 35px;
}

li {
    display: inline-block;
    margin: 15px;
}

a {
    color: #D4C5F4;
    font-weight: 300;
    font-size: 14px;
}

a:hover {
    color: white;
    transition: 0.3s all;
}

main {
    width: 100%;
    height: 560px;
    padding-left: 100px;
    padding-top: 20px;
}

.saudacoes {
    margin-top: 100px;
    display: flex;
    background-color: #AA8CE9;
    border-radius: 15px;
    width: 155px;
}

.saudacoes p {
    height: 40px;
    color: #7B4AE2;
    font-weight: 700;
    font-size: 18px;
    padding-left: 6px;
    padding-top: 10px;
}

.saudacoes img{
    width: 32px;
    height: 30px;
    padding-left: 13px;
    padding-top: 10px;
}

h1 {
    padding-top: 20px;
    font-size: 52px;
    font-weight: 800;
    color: white;
}

h2 {
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding-top: 18px;
}

.circle-main img{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 100px;
    left: 420px;
}

.react-main img{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 213px;
    left: 458px;
}

.ts-main img{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 288px;
    left: 756px;
}

.figma-main img{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 412px;
    left: 535px;
}

.baixar-cv{
    margin-top: -120px;
    padding-left: 790px;
}

.baixar-cv h1{
    color: #8B60E4;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: 230px;
    left: 960px;
}

.whats-baixar-cv img{
    position: absolute;
    top: 248px;
    left: 930px;
}

.arow-baixar-cv img{
    position: absolute;
    top: 252px;
    left: 1046px;
}

.baixar-cv button{
    width: 215px;
    height: 55px;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #966fe4;
    color: #8B60E4;
    font-size: 18px;
    font-weight: 500;
}
hr {
    background-color: #B9A2EC;
}

.purple-square{
    margin-top: 180px;
    margin-left: 80px;
    width: 900px;
    height: 100px;
    border-radius: 10px;
    background-color: #B9A2EC;
}

.align-p p{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #7B4AE2;
}

.align-p{
    display: flex;
    justify-content: space-around;
}

.left-p{
    padding-left: 40px;
}

.align-h1 h1{
    color: #7B4AE2;
    font-weight: 700;
    font-size: 32px;
    padding-top: 8px;
    padding-right: 45px;
}

.align-h1{
    display: flex;
    justify-content: space-around;
}